.gradient {
  	width: 100%;
  	height: 95%;
	position :fixed;
	background: $brand-primary;
	background-size: cover;
	overflow : hidden;
	background-position : center;
	margin-right: -15px;
  	margin-left: -15px;
}

.about {
	width: 100%;
   	height: 100%;
    overflow: hidden;	
}

.identity { 
	color: #ffffff;
	background : none;
	text-align : center;
	width: 261px;
	height: 172px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -130px;
	margin-top: -100px;
	opacity: 0;
}
	
.identity img {
	width: 150px;
	height: 108px;
}


.idenityText{
	background : none;
	width : 261px;
	margin:0 auto;
	margin-top : 50px;
}

#work-detail {
	padding:0 15px;
}
	
.social-bar {
	width : 90px;
	height :20px;
	position : absolute;
	top : 200px;
	left : 50%;
	margin-left : -42px;
}
	
.social-button{
	width :20px!important;
	height : 20px!important;
	margin-right : 10px;
	display : block;
	float:left;
	opacity : 0.5;
	-webkit-transition : opacity 0.3s ease-in-out;
	-moz-transition : opacity 0.3s ease-in-out;
	transition : opacity 0.3s ease-in-out;	
}
	
.social-button:hover{
	opacity:1;
	-webkit-transition : opacity 0.3s ease-in-out;
	-moz-transition : opacity 0.3s ease-in-out;
	transition : opacity 0.3s ease-in-out;
}
	
.about-section{
	width :100%;
	height : 100%;
	overflow: hidden;
}

.about-landing {
	width : 100%;
	height:100%;
	position: absolute;
	overflow: hidden;
	-webkit-transition : all 0.4s ease-in-out;
	-moz-transition : all 0.4s ease-in-out;
	transition : all 0.4s ease-in-out;
}
	
.about-details {
	width : 0%;
	height:100%;
	position:absolute;
	overflow:hidden;
	-webkit-transition : all 0.4s ease-in-out;
	-moz-transition : all 0.4s ease-in-out;
	transition : all 0.4s ease-in-out;
}
	
.previous-about{	
	position : absolute;
	top: 50%;
	background-size : auto ;
	background-repeat:no-repeat;
	left: 5px;
	background-position : right center;
	opacity : 0.5;
	-webkit-transition : all 0.3s ease-in-out;
	-moz-transition : all 0.3s ease-in-out;
	transition : all 0.3s ease-in-out;
	cursor: pointer;	
	display: none;
	img {
		height: 60px;
	}
}
	
.previous-about:hover {
	opacity : 1;
	left : -5px;
	-webkit-transition : all 0.3s ease-in-out;
	-moz-transition : all 0.3s ease-in-out;
	transition : all 0.3s ease-in-out;
}
	
.next-about {
	position : absolute;
	top: 50%;
	background-size : auto ;
	background-repeat:no-repeat;
	right: 5px;
	background-position : right center;
	opacity : 0.5;
	-webkit-transition : all 0.3s ease-in-out;
	-moz-transition : all 0.3s ease-in-out;
	transition : all 0.3s ease-in-out;
	cursor: pointer;	

	img {
		height: 60px;
	}
}
	
.next-about:hover{
	opacity : 1;
	right : -5px;
	-webkit-transition : all 0.3s ease-in-out;
	-moz-transition : all 0.3s ease-in-out;
	transition : all 0.3s ease-in-out;
}
	
.work-study-block{
    width: 680px;
    height: auto;
    margin: 0 auto;
    margin-top: 250px;
    z-index: 5;
}
	
.employment{
	width: 280px;
    color: #999;
    padding: 20px;
    text-align: center;
    margin: 190px auto 0 auto;

    p {
    	color: #ffffff!important;
		font-weight: 100;
    }
}

.employment h2, .studied h2 {
	margin-top: 15px;
    font-size: 26px;
    line-height: 23px;
    font-weight: 500;
    color: #fff;
    margin: 0 auto;
    display: block;
}
	
.studied {
	width: 280px;
	height: 280px;
	color: #999;
	float: left;
	background-color: $brand-primary;
	padding: 20px;
	text-align : center;
}
	

.cv {
	width: 120px;
	height: 35px;
	background-color: #ffffff;
	text-align: center;
	border: 1px solid #ffffff;
	position: absolute;

	bottom: 5px;
    right: 0;
    left: 0;
    margin: 0 auto;

	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.cv h5 {
	bottom: 0;
	position: absolute;
	text-align: center;
	color : #000000!important;
	width: 100%;
	font-weight: 100;
    color: $brand-primary;
}
	
.cv:hover{
	color : #000000!important;
	height: 40px!important;
	width: 100%!important;
	-webkit-transition : all 0.3s ease-in-out;
	-moz-transition : all 0.3s ease-in-out;
	transition : all 0.3s ease-in-out;
}

.cv h5:hover{
	color : $brand-primary;
	text-decoration: underline;
	border-color : #4D4D4D;
	-webkit-transition : all 0.3s ease-in-out;
	-moz-transition : all 0.3s ease-in-out;
	transition : all 0.3s ease-in-out;
}

/*----------------------work------------------*/

.close-header {
	position: fixed;
	background-color: transparent;
	width: 100%;
	z-index: 5;
	height: 60px;
	left: 0;
}

.close-container {
	background-color: $brand-primary;
	height: 60px;
	width: 50px;
	float: right;
}

#close {
	background-size: contain;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    float: right;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    display: none;
}

.work-section {
	width : 100%;
	height : 5%;
	background : white;
	position:fixed;
	bottom : 0;
	left: 0;
	right:0;
	display: inline-block;
}	

.work-row {
	height: 100%;
	margin-top: 3%;
}

a {
	cursor: pointer;
}

.work-container {
	padding: 0;
	height: 45%;
	overflow: hidden;
	display: none;
}

.work-container img {
	height: 100%;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

#work-detail {
	width: inherit; 
	position: absolute; 
	z-index: -1; 
	height: auto; 
/*	padding-top: 5%;*/ 
	background-color: #ffffff; 
	display: none;
	left: 0;
	overflow: scroll!important;
}

.work-title-divider {
	width: 50px;
    height: 3px;
    background-color: #fff;
    margin-top: 30px;
    border-bottom: 10px solid $brand-primary;
    margin-bottom: 20px;
}

.about-title-divider {
	width: 45px;
    height: 1px;
    background-color: #fff;
    margin-top: 10px;
    border-bottom: 5px solid #ffffff;
}

.about-divider-container-one {
	width: 35px;
	display: block;
	position: relative;
	margin-right: 20px;
	margin: 0 auto 0 44px;
}

.about-divider-container-two {
	width: 35px;
	display: block;
	position: relative;
	margin-right: 20px;
	margin: 0 auto 0 60px;
}

.about-divider {
	width: 35px;
    height: 1px;
    background-color: #fff;
    margin-top: 10px;
    border-bottom: 3px solid #ffffff;
}


.work-title-overlay-divider {
	width: 45px;
    height: 1px;
    background-color: #fff;
    margin-top: 10px;
    border-bottom: 5px solid #ffffff;
}

.work-container .overlay {
	width:0;
}

.work-container .overlay {
    width:0;
    height:100%;
    background: $brand-primary;
	position: absolute;
	top: 0;
	z-index: 5;
	overflow:hidden;
	margin-left:-40px;
	opacity: 1;
	transform:skew(5deg);
}

.overlay-title {
	width: 0;
	overflow: hidden;
}

.overlay-title  {
	color: #ffffff;
	white-space: nowrap;
	line-height: 39px;
    text-align: left!important;
    font-size: 36px;
    left: 10px;
    bottom: 20px;
    z-index: 7;
    position: absolute;
    font-weight: 300;
    	
    h2 {
    	font-size: 28px;
    }
}


#contentarea {
	
	width: 100%;

	h2 {
		margin-top: 30px;
	    font-size: 64px;
	    color: $brand-primary;
	    font-weight: 700;
	}

	h4 {
		text-align: left;
    	font-weight: 600;
    	font-size: 21px;
	}
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/*------------responsive----------*/
	
@media screen and (max-width: 768px) {
	.row {
	    margin-left: 0px;
	    margin-right: 0px;
	}

	.gradient {
	  	height: 93%;
	}

	.work-row {
		margin-top: 0;
	}

	.work-section {
		overflow: scroll!important;
		height: 7%;
	}

	.work-container:first-child {
		margin-top: 20px;
	}

	.work-container:last-child {
		margin-bottom: 20px;
	}

	.work-study-block {
	    height: auto;
	    margin: 0 auto;
	    z-index: 5;
	    width: 100%;
	}

	.employment{
		width: 280px;
	    color: #999;
	    padding: 20px;
	    text-align: center;
	    margin: 90px auto 0 auto;
	}

	.col-height {
		height: auto;
	}

	#contentarea h2 {
		margin-top: 30px;
		font-size: 45px;
		color: $brand-primary;
		font-weight: 700;
		line-height: 40px;
	}

	.work-title-divider {
		margin-top: 10px;
		margin-bottom: 0px;
	}

	#contentarea .row:nth-child(2) {
	    margin-top: 20px;
	}
}
	


